html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}
body {
    margin: 0;
    background: #222;
    color: #fff;
    font-family: sans-serif;
}
article, aside, footer, header, nav, section {
    display: block;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
figcaption, figure, main {
    display: block;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
    overflow: auto;
    overflow-y: auto;
    overflow-y: hidden;
    background: #313440;
    padding: 15px 20px;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b, strong {
    font-weight: inherit;
    font-weight: bolder;
}
code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
dfn {
    font-style: italic;
}
mark {
    background-color: #ff0;
    color: #000;
}
small {
    font-size: 80%}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -.25em;
}
sup {
    top: -.5em;
}
audio, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
img {
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}
button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button, input {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html [type="button"], 
    [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: .35em .75em .625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
textarea {
    overflow: auto;
}
details,
    menu {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
.wrapper {
    max-width: 75vw;
    line-height: 1.5rem;
    display: block;
    margin: 0 auto;
    padding: 35px 0 55px;
}
@media (max-width: 750px) {
    .wrapper {
    max-width: 90vw;
}
.wrapper .go {
 color:#586e75
}
}h1:first-of-type {
    font-size: 2em;
}
h1, h2, h3, h4, h5 {
    font-family: monospace;
    line-height: 1.5;
}
h1:not(:first-of-type), h2 {
    margin-top: 35px;
}
p {
    line-height: 1.8;
    font-family: sans-serif;
}
a {
    color: #33ff66;
}
a:hover {
    color: #33ff66;
    background: #333;
}
img:not(.center-img) {
    float: right;
    margin: 20px 10px 5px;
    max-width: 200px;
}
@media (max-width: 550px) {
    img: not(.center-img) {
    max-width: 100%;
    margin: 10px 0 15px;
}
}figure {
    float: right;
    margin: 0 10px 5px;
}
@media (max-width: 550px) {
    figure {
    max-width: 100%;
    margin: 0 0 15px;
}
}figure figcaption {
    text-align: center;
    font-size: 13px;
    font-style: italic;
}
figure img {
    float: none;
    margin: 0!important;
}
.center-img {
    max-width: 100%
}
.container { 
	position: relative;
    padding-bottom: 56.25%;
	overflow: hidden;
	height: 0;
} 
.container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hero {
    height: 100%;
    width: 100%;
    background-color: #000;
    background: url("/assets/images/hero-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero h1,
.hero p {
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.7);
}
.kioptrix {
    height: 100%;
    width: 100%;
    background-color: #000;
    background: url("/assets/images/kioptrix-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.kioptrix h1,
.kioptrix p {
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.7);
}
.home, .edit {
    font-family: monospace;
    text-decoration: none;
    font-size: 15px;
    color: #922B2B;
    background: none;
}
.home:before {
    content: "↩ ";
}
blockquote {
    margin: 25px 15px;
    padding: 15px;
    border: 3px solid #922B2B;
    font-weight: 700;
}
blockquote span {
    font-weight: regular;
}
.references {
    border-top: 1px solid #000;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
    background: #000;
}
footer a {
    text-decoration: none;
}



textarea {
 overflow:auto;
 vertical-align:top
}

h1 {
 margin-top:0;
 font-size:1.563em
}
h2 {
 font-size:1.25em
}
h3 {
 font-size:1em
}
h4 {
 font-size:.75em
}
h5 {
 font-size:.75em
}
h6 {
 font-size:.75em
}
small,.small {
 font-size:.75em
}
p {
 margin-bottom:1.3em
}
u,ins {
 text-decoration:none;
 border-bottom:1px solid #494e52
}
u a,ins a {
 color:inherit
}
del a {
 color:inherit
}
p,pre,blockquote,ul,ol,dl,figure,table,fieldset {
 orphans:3;
 widows:3
}
abbr[title],abbr[data-original-title] {
 text-decoration:none;
 cursor:help;
 border-bottom:1px dotted #494e52
}
blockquote {
 margin:2em 1em 2em 0;
 padding-left:1em;
 padding-right:1em;
 font-style:italic;
 border-left:0.25em solid #7a8288
}
blockquote cite {
 font-style:italic
}
blockquote cite:before {
 content:"\2014";
 padding-right:5px
}
a:hover,a:active {
 outline:0
}
tt,code,kbd,samp,pre {
 font-family:Monaco,Consolas,"Lucida Console",monospace
}
pre {
 overflow-x:auto
}
p>code,a>code,li>code,figcaption>code,td>code {
 padding-top:0.1rem;
 padding-bottom:0.1rem;
 font-size:.75em;
 background:#fafafa;
 border:1px solid #f2f3f3;
 border-radius:4px;
 box-shadow:0 1px 1px rgba(0,0,0,0.125)
}
p>code:before,p>code:after,a>code:before,a>code:after,li>code:before,li>code:after,figcaption>code:before,figcaption>code:after,td>code:before,td>code:after {
 letter-spacing:-0.2em;
 content:"\00a0"
}
hr {
 display:block;
 margin:1em 0;
 border:0;
 border-top:1px solid #f2f3f3
}
ul li,ol li {
 margin-bottom:0.5em
}
li ul,li ol {
 margin-top:0.5em
}
figure {
 display:-webkit-box;
 display:flex;
 -webkit-box-pack:justify;
 justify-content:space-between;
 -webkit-box-align:start;
 align-items:flex-start;
 flex-wrap:wrap;
 margin:2em 0
}
figure img,figure iframe,figure .fluid-width-video-wrapper {
 margin-bottom:1em
}
figure img {
 width:100%;
 border-radius:4px;
 -webkit-transition:all 0.2s ease-in-out;
 transition:all 0.2s ease-in-out
}
figure>a {
 display:block
}
@media (min-width: 37.5em) {
 figure.half>a,figure.half>img {
  width:calc(50% - 0.5em)
 }
}
figure.half figcaption {
 width:100%
}
@media (min-width: 37.5em) {
 figure.third>a,figure.third>img {
  width:calc(33.3333% - 0.5em)
 }
}
figure.third figcaption {
 width:100%
}

div.highlighter-rouge,figure.highlight {
 position:relative;
 margin-bottom:1em;
 border:1px solid #f2f3f3;
 border-radius:4px;
 background-color:#fafafa;
 box-shadow:0 1px 1px rgba(0,0,0,0.125)
}
div.highlighter-rouge:before,figure.highlight:before {
 position:absolute;
 top:0;
 right:0;
 padding:0.5em;
 background-color:#f2f3f3;
 font-family:"fontawesome" !important;
 font-size:.6875em;
 line-height:1;
 text-transform:none;
 speak:none
}
div.highlighter-rouge .highlight,figure.highlight .highlight {
 margin:0;
 padding:1em;
 font-family:Monaco,Consolas,"Lucida Console",monospace;
 font-size:85%;
 line-height:1.8
}
.highlight table td {
 padding:5px
}
.highlight table pre {
 margin:0
}
.highlight .c {
 color:#93a1a1
}
.highlight .err {
 color:#586e75
}
.highlight .g {
 color:#586e75
}
.highlight .k {
 color:#859900
}
.highlight .l {
 color:#586e75
}
.highlight .n {
 color:#586e75
}
.highlight .o {
 color:#859900
}
.highlight .x {
 color:#cb4b16
}
.highlight .p {
 color:#586e75
}
.highlight .cm {
 color:#93a1a1
}
.highlight .cp {
 color:#859900
}
.highlight .c1 {
 color:#93a1a1
}
.highlight .cs {
 color:#859900
}
.highlight .gd {
 color:#2aa198
}
.highlight .ge {
 color:#586e75;
 font-style:italic
}
.highlight .gr {
 color:#dc322f
}
.highlight .gh {
 color:#cb4b16
}
.highlight .gi {
 color:#859900
}
.highlight .go {
 color:#586e75
}
.highlight .gp {
 color:#586e75
}
.highlight .gs {
 color:#586e75;
 font-weight:bold
}
.highlight .gu {
 color:#cb4b16
}
.highlight .gt {
 color:#586e75
}
.highlight .kc {
 color:#cb4b16
}
.highlight .kd {
 color:#22b3eb
}
.highlight .kn {
 color:#859900
}
.highlight .kp {
 color:#859900
}
.highlight .kr {
 color:#22b3eb
}
.highlight .kt {
 color:#dc322f
}
.highlight .ld {
 color:#586e75
}
.highlight .m {
 color:#2aa198
}
.highlight .s {
 color:#2aa198
}
.highlight .na {
 color:#586e75
}
.highlight .nb {
 color:#B58900
}
.highlight .nc {
 color:#22b3eb
}
.highlight .no {
 color:#cb4b16
}
.highlight .nd {
 color:#22b3eb
}
.highlight .ni {
 color:#cb4b16
}
.highlight .ne {
 color:#cb4b16
}
.highlight .nf {
 color:#22b3eb
}
.highlight .nl {
 color:#586e75
}
.highlight .nn {
 color:#586e75
}
.highlight .nx {
 color:#586e75
}
.highlight .py {
 color:#586e75
}
.highlight .nt {
 color:#22b3eb
}
.highlight .nv {
 color:#22b3eb
}
.highlight .ow {
 color:#859900
}
.highlight .w {
 color:#586e75
}
.highlight .mf {
 color:#2aa198
}
.highlight .mh {
 color:#2aa198
}
.highlight .mi {
 color:#2aa198
}
.highlight .mo {
 color:#2aa198
}
.highlight .sb {
 color:#93a1a1
}
.highlight .sc {
 color:#2aa198
}
.highlight .sd {
 color:#586e75
}
.highlight .s2 {
 color:#2aa198
}
.highlight .se {
 color:#cb4b16
}
.highlight .sh {
 color:#586e75
}
.highlight .si {
 color:#2aa198
}
.highlight .sx {
 color:#2aa198
}
.highlight .sr {
 color:#dc322f
}
.highlight .s1 {
 color:#2aa198
}
.highlight .ss {
 color:#2aa198
}
.highlight .bp {
 color:#22b3eb
}
.highlight .vc {
 color:#22b3eb
}
.highlight .vg {
 color:#22b3eb
}
.highlight .vi {
 color:#22b3eb
}
.highlight .il {
 color:#2aa198
}
.feature__wrapper {
 clear:both;
 margin-bottom:2em;
 border-bottom:1px solid #f2f3f3
}
.feature__wrapper::after {
 clear:both;
 content:"";
 display:table
}
.feature__item {
 margin-bottom:2em;
 font-size:1.25rem
}
@media (min-width: 37.5em) {
 .feature__item {
  margin-bottom:0;
  width:32.2033898305%;
  float:left
 }
 .feature__item:nth-child(3n+1) {
  margin-left:0;
  margin-right:-100%;
  clear:both;
  margin-left:0
 }
 .feature__item:nth-child(3n+2) {
  margin-left:33.8983050847%;
  margin-right:-100%;
  clear:none
 }
 .feature__item:nth-child(3n+3) {
  margin-left:67.7966101695%;
  margin-right:-100%;
  clear:none
 }
 .feature__item .feature__item-teaser {
  max-height:200px;
  overflow:hidden
 }
}
.feature__item--left {
 clear:both;
 width:100%;
 float:left;
 margin-left:0;
 margin-right:0;
 font-size:1.25rem
}
.feature__item--left .archive__item-teaser {
 margin-bottom:2em
}
@media (min-width: 37.5em) {
 .feature__item--left .archive__item-teaser {
  width:40.6779661017%;
  float:left;
  margin-right:1.6949152542%
 }
 .feature__item--left .archive__item-body {
  width:57.6271186441%;
  float:right;
  margin-right:0;
  padding-left:4.2372881356%;
  padding-right:8.4745762712%
 }
}
.feature__item--right {
 clear:both;
 width:100%;
 float:left;
 margin-left:0;
 margin-right:0;
 font-size:1.25rem
}
.feature__item--right .archive__item-teaser {
 margin-bottom:2em
}
@media (min-width: 37.5em) {
 .feature__item--right {
  text-align:right
 }
 .feature__item--right .archive__item-teaser {
  width:40.6779661017%;
  float:right;
  margin-left:1.6949152542%
 }
 .feature__item--right .archive__item-body {
  width:57.6271186441%;
  float:left;
  margin-left:0;
  padding-left:4.2372881356%;
  padding-right:8.4745762712%
 }
}
.feature__item--center {
 clear:both;
 width:100%;
 float:left;
 margin-left:0;
 margin-right:0;
 font-size:1.25rem
}
.feature__item--center .archive__item-teaser {
 margin-bottom:2em
}
@media (min-width: 37.5em) {
 .feature__item--center {
  text-align:center
 }
 .feature__item--center .archive__item-teaser {
  margin:0 auto;
  width:40.6779661017%
 }
 .feature__item--center .archive__item-body {
  margin:0 auto;
  width:57.6271186441%
 }
}
/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face {
 font-family:'FontAwesome';
 src:url("../fonts/fontawesome-webfont.eot?v=4.6.3");
 src:url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"),url("../fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"),url("../fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"),url("../fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"),url("../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
 font-weight:normal;
 font-style:normal
}
.mfp-figure {
 line-height:0
}
.mfp-figure:after {
 content:'';
 position:absolute;
 left:0;
 top:40px;
 bottom:40px;
 display:block;
 right:0;
 width:auto;
 height:auto;
 z-index:-1;
 box-shadow:0 0 8px rgba(0,0,0,0.6);
 background:#444
}
.mfp-figure small {
 color:#bdbdbd;
 display:block;
 font-size:12px;
 line-height:14px
}
.mfp-figure figure {
 margin:0
}
.mfp-figure figcaption {
 margin-top:0;
 margin-bottom:0
}


